<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-auth">
      <ul class="nav navbar-nav navbar-right">
        <!-- Login link if not signed in-->
        <% if current_user.blank? %>
          <li><a href="/users">Login</a></li>
        <% else %>
        <!-- Logout link if a user is signed in -->
          <li>
            <%= link_to "Logout", session_path(current_user.id), method: :delete %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Displaying the overall page view  -->
<div class="profile">
  <!-- Displaying the profile picture and Bio -->
  <div class="container">
    <div class="bio col-md-6">
      <%= image_tag "tutor.jpg" %>
      <h4> </h4>
    </div>
    <div class="bio col-md-6">
     <% tutor =  allTutors.find(params[:tutor1_id]) %> 
      <h4>Name: <%= tutor.user.first_name %> <%= tutor.user.last_name %> </h4>
      <h5> Professional Bio: </h5>
      <p> 
        <%= tutor.bio %>
      </p>
    </div>
  </div>


  <!-- Displaying Experience and Specilazation-->
  <div class="container">
    <h4>Specialization</h4>
    <% if tutor.specializations.count >= 1 %> 
    <%  tutor.specializations.each do |specialization | %>
      <%= render :partial => './shared/tutor_detail_specialization', locals: {specialization: specialization} %>
      <% end %> 
    <% end %> 
  </div>
  
  <!-- parent Reviews of tutors  -->
  <br>
  <br>
  <div class="container">
    <div> <h4> <li>Parents Reviews </li> </h4> </div>
      <div class="reviews_tutor">
        <div class="review col-md-6">
          <p>My sons performance increased dramatically after he began his lessons with Mr Stanley!</p>
          <h5>Scott, 25th of January, 2016 </h5>
          <hr>
        </div>
      </div>
    </div>
  <br>
  <div class="container">
    <div class="reviews_tutor">
      <div class="review col-md-6">
        <p>not only did my daughters English grade score increase, her attutide towards her studies also improved
        when stanley started home Tutoring with her</p>
        <h5>IDD ...  25th of March, 2015 </h5>
        <hr>
      </div>
    </div>
  </div>
</div>
