<!-- Navigation header -->
<div class="container">
  <div class="wards_header">
    <!-- display dropdown with entries for each ward -->
    <!-- else display add new ward button and skip rendering wards info -->
    <% if has_wards? %>
    <div class="dropdown">
      <button type="button" id="ward_name" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= current_user.wards.first.first_name %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <% current_user.wards.each do |ward| %>
          <li><%= link_to ward.first_name, generate_ward_page_path(:js, :ward_id => ward.id), remote: true %></li>
        <% end %>
        <li><a data-toggle="modal" data-target="#newWardForm">Add New Ward
          <span class="glyphicon glyphicon-plus"></span></a></li>
      </ul>
    </div>
    <% else %>
    <div class="dropdown">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newWardForm">Add New Ward
        <span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <% end %>
    <div class="search_tutors pull-right">
      <a href="<%= url_for(controller: 'tutor_details', action: 'search') %>"><button class="btn btn-primary pull-right" type="button" name="tutor_search">Search Tutors</button></a>
    </div>
  </div>
</div>

<!-- Ward page render start -->
  <% if !current_user.wards.blank? %>
    <!-- Ward Schedule -->
    <div id="ward_calendar" class="container">
      <div id="calendar">
        <%= calender.view %>
      </div>
    </div>

    <!-- Ward subjects -->
    <div id="ward_subjects" class="container">
      <%= render :partial => './shared/ward_subjects', locals: {ward: current_user.wards.first} %>
    </div>

    <!-- Reccomended Tutors -->
    <div class="recomended-tutors container">

      <h3>Reccomended Tutors</h3>
      <ul> 
        <%   tutor1 = allTutors[0]  %> 
        <%   tutor2 = allTutors[2]  %> 
        <li> <%= link_to(tutor1.user.first_name,  user_tutor_detail_path(:user_id => current_user.id, :tutor1_id => tutor1.id) ) %></li>
        <li> <%= link_to(tutor2.user.first_name,  user_tutor_detail_path(:user_id => current_user.id,:tutor1_id => tutor2.id) ) %></li>
      </ul>
      

      <h3>Recomended Tutors</h3>
      <%= render :partial => './shared/tutor_search_result', locals: {tutor: allTutors.first} %>

    </div>
  <% end %>

<!-- Ward page render stop -->

<!-- Add new ward modal -->
<div class="modal fade" id="newWardForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Ward</h4>
      </div>
      <div class="modal-body">
        <div id="addNewWardForm">
          <form id="newWardUser" action="/users/<%= current_user.id %>/wards" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <p>First Name</p>
            <input type="text" name="first_name">
            <p>Grade</p>
            <select form="newWardUser" name="grade_school_level">
              <option value=""> </option>
              <% for i in 1..12 %>
                <option value="Grade <%= i %>">Grade <%= i %></option>
              <% end %>
            </select>
            <p>Subject</p>
            <select multiple class="multiple_select" form="newWardUser" name="subject_ids[]">
              <% subject_list.each do |subject| %>
                <% name = subject.subject_name %>
                <option value="<%= subject.id %>"><%= name %></option>
              <% end %>
            </select>
            <div class="checkbox-group">
              <table>
                <tbody>
                  <ul>
                    <%= render './shared/ward_time_form' %>
                  </ul>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" id="addWardButton">Save</button>
      </div>
    </div>
  </div>
</div>
