<!DOCTYPE html>
<html>
<head>
  <title>Edututor</title>
  <script src="multiselect.js"></script>
  <%= stylesheet_link_tag    'application', 'tutors', 'parents', 'users', 'multiselect', 'static_pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'tutors', 'parents', 'static_pages', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
